<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container">
	 <div ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch" ng-model="list"
             class="form-control">
         </div>
         <div class="form-group">
			 <p>EMPTY VALUE OR IS NOT A DISH</p>
             <button class="btn btn-default" ng-click="listDishes()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
		   {{alarma}}<br>
		   
         </div>
		 
	</div>
</body>
</html>
